DEBUG=True
SECRET_KEY=your-secret-key-here
ALLOWED_HOSTS=localhost,127.0.0.1,0.0.0.0,backend
DB_HOST=db
DB_NAME=administreino_db
DB_USER=admin
DB_PASS=adminpassword
DB_PORT=5432
CORS_ALLOWED_ORIGINS=http://localhost:5173,http://127.0.0.1:5173
